openapi: 3.0.3
info:
  title: Brella Integration Attendees Speakers API
  description: 'Public REST Integration API for the Brella event networking and engagement platform. Organizers use it to read event data - events, attendees, speakers, sponsors, timeslots (schedule), and invites - for a Brella organization and sync it to registration, CRM, and analytics tools. Access is gated: an organization admin generates an API key from the Brella admin panel and sends it in the Brella-Api-Access-Token header. Versioning is negotiated via the Accept header (application/vnd.brella.v4+json). Pagination is mandatory on all list endpoints (page[size] up to 500, page[number]). Only endpoints confirmed against the public developer portal (developer.brella.io) are modeled here; additional documented surfaces (RSVP & session check-in, statistics & analytics) exist but their exact paths were not confirmed at authoring time.'
  version: v4
  contact:
    name: Brella Developer Documentation
    url: https://developer.brella.io/
  termsOfService: https://www.brella.io/terms-and-conditions
servers:
- url: https://api.brella.io/api/integration
  description: Brella Integration API production host
security:
- BrellaApiAccessToken: []
tags:
- name: Speakers
paths:
  /organizations/{organizationId}/events/{eventId}/speakers:
    get:
      operationId: listSpeakers
      tags:
      - Speakers
      summary: List all speakers
      description: List the speakers configured for a specific event.
      parameters:
      - $ref: '#/components/parameters/OrganizationId'
      - $ref: '#/components/parameters/EventId'
      - $ref: '#/components/parameters/PageSize'
      - $ref: '#/components/parameters/PageNumber'
      responses:
        '200':
          description: A paginated list of speakers.
        '401':
          $ref: '#/components/responses/Unauthorized'
components:
  responses:
    Unauthorized:
      description: Missing or invalid Brella-Api-Access-Token.
  parameters:
    PageSize:
      name: page[size]
      in: query
      required: true
      description: Number of records per page. Maximum 500. Pagination is mandatory.
      schema:
        type: integer
        maximum: 500
        default: 50
    OrganizationId:
      name: organizationId
      in: path
      required: true
      description: The numeric ID of the Brella organization.
      schema:
        type: integer
    PageNumber:
      name: page[number]
      in: query
      required: true
      description: The page number to retrieve. Pagination is mandatory.
      schema:
        type: integer
        default: 1
    EventId:
      name: eventId
      in: path
      required: true
      description: The numeric ID of the Brella event.
      schema:
        type: integer
  securitySchemes:
    BrellaApiAccessToken:
      type: apiKey
      in: header
      name: Brella-Api-Access-Token
      description: Organization-level API key generated by an organization admin from the Brella admin panel. Grants read (and, where applicable, write) access to the organization's event data.
