openapi: 3.2.0
info:
  title: Brella Integration Attendees API
  description: Public REST Integration API for the Brella event networking and engagement platform.
  version: v4
  contact:
    name: Brella Developer Documentation
    url: https://developer.brella.io/
  termsOfService: https://www.brella.io/terms-and-conditions
servers:
- url: https://api.brella.io/api/integration
  description: Brella Integration API production host
security:
- BrellaApiAccessToken: []
tags:
- name: Attendees
paths:
  /organizations/{organizationId}/events/{eventId}/attendees:
    get:
      operationId: listAttendees
      tags:
      - Attendees
      summary: List all attendees
      description: List attendees for a specific event. Supports mandatory pagination and optional created_from, created_to, updated_from, and updated_to filters for incremental syncs.
      parameters:
      - $ref: '#/components/parameters/OrganizationId'
      - $ref: '#/components/parameters/EventId'
      - $ref: '#/components/parameters/PageSize'
      - $ref: '#/components/parameters/PageNumber'
      - name: created_from
        in: query
        required: false
        schema:
          type: string
          format: date-time
      - name: created_to
        in: query
        required: false
        schema:
          type: string
          format: date-time
      - name: updated_from
        in: query
        required: false
        schema:
          type: string
          format: date-time
      - name: updated_to
        in: query
        required: false
        schema:
          type: string
          format: date-time
      responses:
        '200':
          description: A paginated list of attendees.
        '401':
          $ref: '#/components/responses/Unauthorized'
components:
  parameters:
    PageSize:
      name: page[size]
      in: query
      required: true
      description: Number of records per page. Maximum 500. Pagination is mandatory.
      schema:
        type: integer
        maximum: 500
        default: 50
    OrganizationId:
      name: organizationId
      in: path
      required: true
      description: The numeric ID of the Brella organization.
      schema:
        type: integer
    EventId:
      name: eventId
      in: path
      required: true
      description: The numeric ID of the Brella event.
      schema:
        type: integer
    PageNumber:
      name: page[number]
      in: query
      required: true
      description: The page number to retrieve. Pagination is mandatory.
      schema:
        type: integer
        default: 1
  responses:
    Unauthorized:
      description: Missing or invalid Brella-Api-Access-Token.
  securitySchemes:
    BrellaApiAccessToken:
      type: apiKey
      in: header
      name: Brella-Api-Access-Token
      description: Organization-level API key generated by an organization admin from the Brella admin panel. Grants read (and, where applicable, write) access to the organization's event data.
