openapi: 3.2.0
info:
  title: Brella Integration Events API
  description: Public REST Integration API for the Brella event networking and engagement platform.
  version: v4
  contact:
    name: Brella Developer Documentation
    url: https://developer.brella.io/
  termsOfService: https://www.brella.io/terms-and-conditions
servers:
- url: https://api.brella.io/api/integration
  description: Brella Integration API production host
security:
- BrellaApiAccessToken: []
tags:
- name: Events
paths:
  /organizations/{organizationId}/events:
    get:
      operationId: listEvents
      tags:
      - Events
      summary: List all events
      description: List the events belonging to a Brella organization. Supports mandatory pagination and optional ISO 8601 date-range filtering.
      parameters:
      - $ref: '#/components/parameters/OrganizationId'
      - $ref: '#/components/parameters/PageSize'
      - $ref: '#/components/parameters/PageNumber'
      - name: created_from
        in: query
        required: false
        description: Return events created on or after this ISO 8601 timestamp.
        schema:
          type: string
          format: date-time
          example: '2023-11-20T00:00:00.000Z'
      - name: created_to
        in: query
        required: false
        description: Return events created on or before this ISO 8601 timestamp.
        schema:
          type: string
          format: date-time
      responses:
        '200':
          description: A paginated list of events.
        '401':
          $ref: '#/components/responses/Unauthorized'
components:
  parameters:
    PageSize:
      name: page[size]
      in: query
      required: true
      description: Number of records per page. Maximum 500. Pagination is mandatory.
      schema:
        type: integer
        maximum: 500
        default: 50
    OrganizationId:
      name: organizationId
      in: path
      required: true
      description: The numeric ID of the Brella organization.
      schema:
        type: integer
    PageNumber:
      name: page[number]
      in: query
      required: true
      description: The page number to retrieve. Pagination is mandatory.
      schema:
        type: integer
        default: 1
  responses:
    Unauthorized:
      description: Missing or invalid Brella-Api-Access-Token.
  securitySchemes:
    BrellaApiAccessToken:
      type: apiKey
      in: header
      name: Brella-Api-Access-Token
      description: Organization-level API key generated by an organization admin from the Brella admin panel. Grants read (and, where applicable, write) access to the organization's event data.
